<%= form_for(@guestbook_message) do |f| %>
  <%= f.text_area :message %>

  <%= f.hidden_field :location, :value => current_user.location %>
  <%= f.hidden_field :time, :value => Time.now %>

  <p><%= f.submit "Post Message!", class: "btn btn-large btn-primary" %></p>
<% end %>
